<h1>Сменить пароль</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.input :email, required: false %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.input :password, label: 'Пароль (оставьте поле пустым, если не хотите менять)' %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password, label: 'Текущий пароль (нам нужен текущий пароль, чтобы подвердить изменения)' %>
  <%= f.button :submit, 'Сменить пароль', class: 'btn-primary' %>
<% end %>

<div class="buffer-top">
  <h3 class="mb-3">Удалить аккаунт</h3>
  <div>
    <%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class="buffer-top">
    <%= link_to 'Назад', user_path(@user) %>
  </div>
</div>
