<h1>Регистрация</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), novalidate: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.input :email, required: false %>
  <%= f.input :password, label: "Пароль (минимум #{@minimum_password_length} символов)" %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Зарегистрироваться", class: "btn-primary" %>
<% end %>

<div class="buffer-top">
  <%= render "devise/shared/links" %>
</div>