<div class="comment-item">
  <div class="comment-details">
    <span class="comment-author">
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <%= comment.user_name %>
      <% end %>
    </span>
    <%= l comment.created_at, format: :short %>
    <% if current_user_can_edit?(comment) %>
        <%= link_to(fa_icon('trash'), event_comment_path(comment.event, comment),method: :delete, data: {confirm: t('confirms.delete')}, class: 'delete-comment') %>
    <% end %>
  </div>
  <div class="comment-body"><%= comment.body %></div>
</div>
