<div class="text-center">
  <h1><%= @user.name %></h1>
  <%= image_tag user_avatar(@user) %>
  <% if @user == current_user %>
    <p class="buffer-top">
    <%= link_to "#{t('links.edit_profile')}", edit_user_path(@user),
      class: 'btn btn-primary' %>
    </p>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3><%= t('regular_text.organise') %></h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <div class="buffer-top">
          <%= t('regular_text.no_events_yet') %>
        </div>
      <% end %>
    </div>
  </div>
</div>