<%= simple_form_for(@event) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @event} %>
  <%= f.input :title, required: false %>
  <%= f.input :address, required: false %>
  <div class="form-group"><%= f.datetime_select :datetime, class: 'form-control' %></div>
  <%= f.input :description %>
  <%= f.button :submit, 'Сохранить', class: 'btn-primary' %>
  или <%= link_to 'вернуться', events_path %>
<% end %>