<h1><%= t("page_header.pincode") %></h1>

<%= simple_form_for('', method: 'post') do |f| %>
  <%= f.input :pincode, required: false, label: t("input_labels.pincode") %>
  <%= f.button :submit, t("buttons.save"), class: "btn-primary"%>
<% end %>

<div class="mt-2">
  <%= link_to t("links.back"), events_path %>
</div>