<h1><%= t('page_header.login') %></h1>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, required: false %>
  <%= f.input :password %>
  <%= f.button :submit, "#{t('buttons.signin')}", class: "btn-primary" %>
<% end %>

<div class="buffer-top">
  <%= render "devise/shared/links" %>
</div>
